body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #870709;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
}

#tribute-link {
  color: yellow;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#img-div > #image {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: auto;
  display: block;
  justify-content: center;
}


#img-caption {
  text-align: center;
  margin-top: 5px;
}
